.divcontainer{
    position: relative;
    margin: 2% 20% 0% 20%;
    width: 60%;
    height: 200px;
}

.divborder{
    position: relative;
    width:100%;
    height: 100%;
    border: 1px solid #000000;
    /* overflow: hidden; */
}
.gamescreen{
    width:100%;
}
.rightcontainer{
    width: 50%;
    height: 200px;
    /* border: 1px solid; */
    position: relative;
    left: 50%;
    overflow: hidden;
    float: left;
}
.rightlaser{
    position: absolute;
    width: 12%;
    bottom: -54px;
    transform: rotate(-11deg);
    transition: all .2s;
}
.leftcontainer{
    width: 50%;
    height: 200px;
    position: absolute;
    overflow: hidden;
}
.leftlaser{
    position: absolute;
    width: 12%;
    bottom: -31px;
    transform: rotate(108deg);
    transition: all .2s;
    left: -22%
}
svg{
    height:50px;
    width: 100%;
}
line{
    stroke:rgb(255,0,0);
    stroke-width:2
}